@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

::-webkit-scrollbar {
  width: 2px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.row {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 90vh;
}
.home__contener > .row > .col-sm {
  padding: 0;
  margin: 0;
}
.home__img {
  position: relative;
}
.home__img__con {
  position: absolute;
  right: 10%;
  bottom: 20%;
}
.home__img__con > {
  width: 150px;
}

.home__text {
  position: relative;
  font-size: 50px;
}
.home__text__con {
  position: absolute;
  left: 15%;
  top: 20%;
  line-height: 65px;
}
.friends {
  color: #f35456;
  font-family: "Train One", cursive;
  font-size: 100px;
}

.design__1,
.design__2 {
  position: absolute;
  z-index: -1;
}

@keyframes leftright {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.design__1 {
  top: 10%;
  right: 30%;
}
.design__1 > img {
  max-width: 200px;
}

@keyframes updown {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: 0%;
  }
}

.design__2 {
  right: 50%;
  animation: updown 1.5s linear infinite;
}

.design__2 > img {
  max-width: 40px;
}

.home__join > button {
  background-color: black;
  color: white;
}

.home__join > button:hover {
  letter-spacing: 1px;
  transition: all 0.1s ease-in;
  color: white;
}
